# avoid temp and backup files
*~
*#
*.bak
*.old
*.rej
*.swp
*.tmp

# avoid utility files
.build

# avoid archives of this distribution
Module-Packaged-Generator-*

# databases created by app
cpan_*.db
cpan_*.db-journal
